body {
    background-color: rgb(19, 209, 209);
    font-family: sans-serif;
}

.current {
    color: red;
}

p {
    color: whitesmoke;
}

a {
    text-decoration: none;
    background-color: aliceblue;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #009eb3;
}

a:hover {
    text-decoration: overline;
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    padding: 20px;
}

.grid-item img {
    width: 200px; /* Set a uniform size for all GIFs */
    height: 200px;
    object-fit: fit; /* Ensure the images cover the box without distortion */
}
